[mysqld]
basedir = /opt
datadir = /opt/mysql/data
secure_file_priv = /opt/mysql/mysql-files
pid_file = /opt/mysql/logs/mysqld.pid
socket = /tmp/mysql.sock
max_connections = 1500
lower_case_table_names = 1
log_error = /opt/mysql/logs/mysqld.log
log_output = table
slow_query_log = 1
long_query_time = 5
server_id = 1
log_bin = /opt/mysql/logs/binlog/s1binlog
binlog_format = row
binlog_row_event_max_size = 8192
binlog_checksum = crc32
max_binlog_size = 512M
binlog_cache_size = 32K
binlog_stmt_cache_size = 32K
max_binlog_cache_size = 2G
max_binlog_stmt_cache_size = 2G
binlog_error_action = abort_server
binlog_expire_logs_seconds = 0
sync_binlog = 1
binlog_group_commit_sync_delay = 0
default_storage_engine = innodb
gtid_mode = 1
enforce-gtid-consistency = 1
innodb_buffer_pool_size = 4G
innodb_change_buffer_max_size = 25
innodb_log_group_home_dir = /opt/mysql/logs/redolog
innodb_log_file_size = 256M
innodb_log_files_in_group = 4
innodb_log_buffer_size = 16M
innodb_file_per_table = 1
innodb_undo_directory = /opt/mysql/logs/undolog
innodb_rollback_segments = 128
innodb_max_undo_log_size = 1G
a = 1
max = 100

[client]

